# پوشه‌های موقت
node_modules/
dist/
build/
.cache/

# فایل‌های پیکربندی
.env
.eslintrc
.prettierrc

# فایل‌های لاگ
npm-debug.log
yarn-error.log
lerna-log.log

# پوشه‌های IDE
.idea/
.vscode/

# فایل‌های تست
coverage/
jest/

# فایل‌های باینری
*.log
*.tmp
*.swp

# فایل‌های IDE
*.DS_Store
