@font-face {
  font-family: "dana";
  src: url('../../assets/font/dana/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaEn";
  src: url('../../assets/font/dana/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaRegular";
  src: url('../../assets/font/dana/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaMedium";
  src: url('../../assets/font/dana/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaDemiBold";
  src: url('../../assets/font/dana/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
